.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  padding: 4rem 2rem;
  gap: 1rem;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.125);
}

.card:hover {
  box-shadow: none;
}

.icon {
  width: 2rem;
  height: 2rem;
}
